# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz   

# Environment variables
.env

# Uploads
uploads/

# Virtual environment
venv/

# Database
storage/content.db
storage/interactions.db
storage/content_store.db
storage/interactions_store.db
